In [ ]:
3 + 3

In [ ]:
a = 3
b = 3
a + b