One can print simple strings, possibly containing spaces

In [ ]:
x = "one"
y = "two two"

In [ ]:
z = "three THREE_Three"; n = "FoUr_four quattro_cuatro"

In [ ]:
" ".join([x, y, z, n])

In [ ]:
print(" ".join([x, y]))
print(" ".join([z, n]))

One can also print multiline strings

In [ ]:
Z = """three
THREE_Three"""
N = """FoUr_four
quattro_cuatro"""
print("\n".join([Z, N]))

In [ ]:
Z = '''three
THREE_Three'''
N = '''FoUr_four
quattro_cuatro'''
print("\n".join([Z, N]))